{% extends "base.html.twig" %}

{% block title %}{{ name }}{% endblock %}

{% block body %}
    <div class="bg-light p-5 rounded">
        <h1>{{ name }}</h1>

        {% for descriptionDatum in description %}
            {% if loop.first %}
                <p class="lead">{{ descriptionDatum }}</p>
            {% else %}
                <p>{{ descriptionDatum }}</p>
            {% endif %}
        {% endfor %}

        {% if link|length > 0 %}
            <p><a class="btn btn-link" href="{{ link }}" target="_blank">Детально</a></p>
        {% endif %}

        {{ dump(realisation) }}
    </div>
{% endblock %}