<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('homepage') }}">Design Patterns</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Patters">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="" id="fundamental_menu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Основные (Fundamental)
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="fundamental_menu">
                        <li><a class="dropdown-item" href="{{ path('fundamental.propertyContainer') }}">Контейнер свойств</a></li>
                        <li><a class="dropdown-item" href="{{ path('fundamental.delegation') }}">Делегирование</a></li>
                        <li><a class="dropdown-item" href="{{ path('fundamental.eventChannel') }}">Канал событий</a></li>
                        <li><a class="dropdown-item" href="{{ path('fundamental.interface') }}">Интерфейс</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="" id="creational_menu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Порождающие (Creational)
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="creational_menu">
                        <li><a class="dropdown-item" href="{{ path('creational.abstractFactory') }}">Абстрактная фабрика</a></li>
                        <li><a class="dropdown-item" href="{{ path('creational.factoryMethod') }}">Фабричный метод</a></li>
                        <li><a class="dropdown-item" href="{{ path('creational.simpleFactory') }}">Простая фабрика</a></li>
                        <li><a class="dropdown-item" href="{{ path('creational.staticFactory') }}">Статичная фабрика</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>